.custom-nav {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  
  .custom-nav:hover {
    color: #a855f7; /* hover color */
  }
  
  .custom-nav.active {
   
    font-weight: bold;
    text-decoration: underline;
  }



.cart-badge {
  position: absolute;
  bottom: -4px;
  right: -6px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0;
  min-width: 20px;
padding: 0 5px; /* lets it stretch horizontally */

}

